---
import Section from "../Section.astro";
import { awards } from "@cv";
---

<Section className={Astro.props.className} title="Awards">
  <ul class="space-y-4 py-3">
    {
      awards.map(({ title, date, awarder, summary }) => {
        return (
          <li class="flex flex-col items-baseline md:flex-row">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 hidden h-5 w-5 self-start md:inline-block"
            >
              <circle cx="12" cy="8" r="7" />
              <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88" />
            </svg>
            <div class="relative w-full">
              <time class="mb-1 text-xs font-bold text-white/50 md:absolute md:right-0 md:top-0 md:mb-0">
                {date}
              </time>
              <h3 class="font-medium text-white">{title}</h3>
              <p class="mt-1 text-sm">{awarder}</p>
              {summary && (
                <div class="mt-4 text-sm">
                  <h4 class="font-medium">Summary:</h4>
                  <ul class="list-inside list-disc space-y-1 text-white/50">
                    {Array.isArray(summary) ? (
                      summary.map((item) => <li>{item}</li>)
                    ) : (
                      <li>{summary}</li>
                    )}
                  </ul>
                </div>
              )}
            </div>
          </li>
        );
      })
    }
  </ul>
</Section>
