---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section className={Astro.props.className} title="Education">
  <ul class="space-y-4 py-3 print:space-y-0">
    {
      education.map(
        ({ institution, startDate, endDate, area, url, summary }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual";
          const years = `${startYear} - ${endYear}`;

          return (
            <div class="flex items-baseline">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="mr-2 hidden h-5 w-5 self-start md:inline-block print:hidden"
              >
                <path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                <path d="M22 10v6" />
                <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
              </svg>
              <div class="relative w-full items-baseline justify-between gap-2">
                <h3 class="mr-6 items-baseline gap-x-2 gap-y-0.5 font-medium dark:text-neutral-100">
                  <a
                    target="_blank"
                    class="hover:text-skin-hue group flex items-center gap-[6px] decoration-dotted underline-offset-[5px] hover:underline"
                    href={url}
                  >
                    {institution}
                  </a>
                </h3>
                <div class="mb-1 text-sm font-medium dark:text-neutral-300">
                  {area}
                </div>
                <time class="trackign-widest relative right-0 top-0 text-xs font-semibold uppercase text-neutral-400 dark:text-neutral-500 sm:col-span-2 md:absolute md:block">
                  {years}
                </time>
                {summary && (
                  <div class="flex flex-col gap-1">
                    <h4 class="mb-1 text-sm font-medium dark:text-neutral-300">
                      Summary:
                    </h4>
                    <ul class="flex list-disc flex-col gap-2 text-sm font-light text-neutral-600 dark:text-neutral-400 [&>li]:ml-4">
                      {Array.isArray(summary) ? (
                        summary.map((item) => ({ item }))
                      ) : (
                        <li>{summary}</li>
                      )}
                    </ul>
                  </div>
                )}
              </div>
            </div>
          );
        }
      )
    }
  </ul>
</Section>
