---
import achievements from "../collections/achievements.json";
import educations from "../collections/educations.json";
import experiences from "../collections/experiences.json";
import AboutItem from "../components/about-item.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm a Passionate Computer Science undergraduate and Linux enthusiast, committed to lifelong learning and developing innovative open-source projects. Experienced in software engineering, with a strong focus on back-end technologies and scripting. Continuously seeking opportunities to enhance skills and contribute to impactful projects."
    />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Education
    </h2>
    <div class="px-5 py-10">
      {
        educations.map((education, loop) => (
          <div
            class={
              loop <= 1
                ? "pb-10 border-l border-gray-200 dark:border-neutral-700"
                : ""
            }
          >
            <AboutItem
              dates={education.dates}
              title={education.degree}
              subtitle={education.school}
              description={education.description}
            />
          </div>
        ))
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Achievements
    </h2>
    <div class="px-5 py-10">
      {
        achievements.map((achievement, loop) => (
          <div
            class={
              loop <= 1
                ? "pb-10 border-l border-gray-200 dark:border-neutral-700"
                : ""
            }
          >
            <AboutItem
              dates={achievement.dates}
              title={achievement.name}
              description={achievement.description}
            />
          </div>
        ))
      }
    </div>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => (
          <div
            class={
              loop <= 1
                ? "pb-10 border-l border-gray-200 dark:border-neutral-700"
                : ""
            }
          >
            <AboutItem
              dates={experience.dates}
              title={experience.role}
              subtitle={experience.company}
              description={experience.description}
            />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
