---
import Button from "@/components/Button.astro";
import Container from "@/components/Container.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PFP from "@/assets/images/pfp.png";
import { Image } from "astro:assets";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { name, label, summary, socials } = basics;
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <Container size="lg">
    <div class="my-24 flex h-screen items-center justify-center md:my-0">
      <div
        class="flex flex-col-reverse gap-8 md:flex-row md:items-center md:justify-between"
      >
        <div class="w-full text-justify md:w-1/2 md:text-start">
          <div class="flex flex-col items-start gap-2">
            <h1
              class="text-sm tracking-tight text-neutral-900 dark:text-neutral-50 lg:text-lg"
            >
              Hi, my name is
            </h1>
            <h1
              class="bg-gradient-to-b from-neutral-900 to-neutral-600 bg-clip-text text-start text-4xl font-bold tracking-tight text-transparent dark:from-neutral-50 dark:to-neutral-400 lg:text-5xl"
            >
              {name}.
            </h1>
          </div>
          <h2 class="mt-2 text-sm font-medium lg:text-lg">{label}.</h2>
          <h2 class="mt-2 text-sm font-medium lg:text-lg">{summary}.</h2>
          <div
            class="mt-5 flex flex-wrap items-center justify-center gap-2 md:justify-start"
          >
            {
              socials.map((item) => (
                <Button
                  icon={item.network}
                  href={item.url}
                  label="Social Media Link"
                />
              ))
            }
          </div>
        </div>
        <div class="w-full md:w-auto md:flex-shrink-0">
          <div
            class="mx-auto w-full max-w-xs rounded-3xl border border-black/25 bg-white p-10 dark:border-white/25 dark:bg-black"
          >
            <Image
              src={PFP}
              alt="Rayhan Kafi Pratama"
              loading="eager"
              class="h-auto w-full rounded-xl object-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</PageLayout>
