---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
import PFP from "@/assets/images/pfp.png";
import { Image } from "astro:assets";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { name, label, summary } = basics;
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <div
    class="relative z-20 mx-auto flex min-h-screen w-full max-w-4xl flex-col items-center justify-center px-7 xl:px-0"
  >
    <div
      class="flex flex-col-reverse items-center justify-between gap-4 md:flex-row"
    >
      <div class="relative w-full text-center md:w-1/2 md:text-left">
        <a
          href="/"
          class="block bg-opacity-50 bg-gradient-to-b from-neutral-50 to-neutral-400 bg-clip-text text-left text-4xl font-bold tracking-tight text-transparent lg:text-5xl"
        >
          <h1>
            Hello, I'm {name}.
          </h1>
        </a>
        <h2
          class="mt-2 text-left text-sm font-medium text-neutral-400 lg:text-lg"
        >
          {label}.
        </h2>
        <h2
          class="mt-2 text-left text-sm font-medium text-neutral-400 lg:text-lg"
        >
          {summary}.
        </h2>

        <div class="mt-4 grid grid-cols-1 gap-2 md:grid-cols-3">
          <Button text="My Projects." link="/projects" />
          <Button text="About Me." link="/about" />
          <Button text="Contact Me." link="/contact" />
        </div>
      </div>
      <div
        class="mx-auto w-full max-w-xs rounded-2xl border border-dashed border-neutral-700 bg-black p-4 md:w-1/2 md:max-w-full md:p-8"
      >
        <Image
          src={PFP}
          alt="Rayhan Kafi Pratama"
          loading="eager"
          class="h-auto w-full rounded-2xl object-cover"
        />
      </div>
    </div>
  </div>
</Layout>
