---
import Button from "@/components/Button.astro";
import Container from "@/components/Container.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PFP from "@/assets/images/pfp.png";
import { Image } from "astro:assets";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { name, label, summary, socials } = basics;
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <section class="h-full">
    <Container size="lg">
      <div class="flex h-screen items-center justify-center">
        <div
          class="flex flex-col-reverse items-center justify-between md:flex-row"
        >
          <!-- Text Section -->
          <div class="w-full text-justify md:w-1/2 md:text-start">
            <div class="flex flex-col items-start gap-2">
              <p
                class="text-sm tracking-tight text-neutral-900 dark:text-neutral-50 lg:text-lg"
              >
                Hi, my name is
              </p>
              <h1
                class="bg-gradient-to-b from-neutral-900 to-neutral-600 bg-clip-text text-4xl font-bold tracking-tight text-transparent dark:from-neutral-50 dark:to-neutral-400 lg:text-6xl"
              >
                {name}.
              </h1>
            </div>
            <p
              class="mt-2 text-sm font-medium text-black/75 dark:text-white/75 lg:text-lg"
            >
              {label}.
            </p>
            <p
              class="mt-2 text-sm font-medium text-black/75 dark:text-white/75 lg:text-lg"
            >
              {summary}.
            </p>
            <div class="mt-5 flex flex-wrap items-center gap-2">
              {
                socials.map((item) => (
                  <Button
                    icon={item.network}
                    href={item.url}
                    label="Social Media Link"
                  />
                ))
              }
            </div>
          </div>

          <!-- Photo Section -->
          <div class="w-full md:w-auto">
            <div
              class="mx-auto mb-5 w-full max-w-xs rounded-3xl border border-black/25 bg-white p-10 dark:border-white/25 dark:bg-black md:mb-0"
            >
              <Image
                src={PFP}
                alt="Profile Picture"
                loading="eager"
                class="w-full rounded-xl object-cover"
              />
            </div>
          </div>
        </div>
      </div>
    </Container>
  </section>
</PageLayout>
