---
import Button from "@/components/Button.astro";
import Photo from "@/components/Photo";
import PageLayout from "@/layouts/PageLayout.astro";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { name, label, summary, socials } = basics;
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <section class="h-full" transition:animate="slide">
    <div class="flex h-full items-center justify-center">
      <div class="container mx-auto my-24 xl:my-0">
        <div class="flex flex-col items-center justify-between xl:flex-row">
          <!-- Text Section -->
          <div
            class="order-2 text-center xl:order-none xl:text-left"
            transition:animate="slide"
          >
            <span class="text-xl">Hi, my name is</span>
            <h1 class="mb-6">
              {name}
            </h1>
            <p class="mb-8 max-w-[500px] text-black/80 dark:text-white/80">
              {label}
              {summary}
            </p>
            <div
              class="flex flex-row items-center justify-center gap-8 xl:justify-start"
            >
              {
                socials.map((item) => (
                  <Button
                    icon={item.network}
                    href={item.url}
                    label="Social Media Link"
                  />
                ))
              }
            </div>
          </div>
          <!-- Photo Section -->
          <div
            class="order-1 mb-8 xl:order-none xl:mb-0"
            transition:animate="slide"
          >
            <Photo client:load imageSrc="/assets/photo.png" imageAlt={name} />
          </div>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
