---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";
import PFP from "@/assets/images/pfp.png";
import { Image } from "astro:assets";
import { SITE } from "@/consts";
import { basics } from "@cv";
const { name, label, summary, socials } = basics;
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <div class="flex h-screen items-center justify-center">
    <div
      class="flex flex-col-reverse gap-8 md:flex-row md:items-center md:justify-between"
    >
      <div class="w-full text-justify md:w-1/2 md:text-start">
        <div class="flex flex-col items-start gap-2">
          <h1 class="text-sm tracking-tight text-neutral-50 lg:text-lg">
            Hi, my name is
          </h1>
          <h1
            class="bg-gradient-to-b from-neutral-50 to-neutral-400 bg-clip-text text-start text-4xl font-bold tracking-tight text-transparent lg:text-5xl"
          >
            {name}.
          </h1>
        </div>
        <h2 class="mt-2 text-sm font-medium lg:text-lg">{label}.</h2>
        <h2 class="mt-2 text-sm font-medium lg:text-lg">{summary}.</h2>
        <div
          class="mt-5 flex flex-wrap items-center justify-center gap-2 md:justify-start"
        >
          {
            socials.map((item) => (
              <Button icon={item.network} href={item.url} />
            ))
          }
        </div>
      </div>
      <div class="w-full md:w-auto md:flex-shrink-0">
        <div
          class="mx-auto w-full max-w-xs rounded-3xl border border-white/25 bg-black p-10"
        >
          <Image
            src={PFP}
            alt="Rayhan Kafi Pratama"
            loading="eager"
            class="h-auto w-full rounded-xl object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</Layout>
