---
import Button from "@/components/Button.astro";
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import PFP from "@/assets/images/pfp.png";
import { Image } from "astro:assets";
import { basics } from "@cv";

const { name, label, location, profiles, summary } = basics;
const { city, region } = location;
---

<Layout title="Rxyhn">
  <div
    class="relative z-20 mx-auto mt-16 w-full max-w-4xl px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div
      class="flex flex-col items-center justify-between gap-x-4 md:flex-row md:gap-x-0"
    >
      <div class="relative w-full">
        <h1
          class="mb-5 text-4xl font-bold leading-tight text-black dark:text-white md:text-4xl lg:text-6xl"
        >
          Hello, I'm {name}.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          {label}.
        </p>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          {summary}.
        </p>
        <Button text="About Me." link="/about" class />
      </div>
      <div
        class="h-full w-full -translate-y-px translate-x-0 rounded-2xl border border-dashed border-neutral-300 bg-red-400 bg-gradient-to-r from-white via-neutral-50 to-white dark:border-neutral-700 dark:from-neutral-950 dark:via-black dark:to-neutral-950 lg:h-[420px]"
      >
        <Image
          src={PFP}
          alt="Rayhan Pratama"
          loading="eager"
          class="h-full w-full bg-center object-cover"
        />
      </div>
    </div>

    <h3
      class="mb-4 text-2xl font-bold tracking-tight text-black dark:text-white md:text-4xl"
    >
      Reach me!
    </h3>
    <div class="my-2 mb-8 mt-4 grid w-full grid-cols-1 gap-4 sm:grid-cols-2">
      {
        profiles.map((profile) => {
          return (
            <Card
              url={profile.url}
              description={profile.username}
              highlights={[]}
              name={profile.network}
            />
          );
        })
      }
    </div>
  </div>
</Layout>
