---
import path from "./path.json";
import { basics } from "@cv";
import MobileMenu from "./MobileMenu";
const { nickname } = basics;
---

<header id="header" class="absolute top-0 z-50 w-full print:hidden">
  <div
    class="mx-auto flex h-20 max-w-5xl select-none items-center justify-between border-b border-transparent bg-transparent px-6 transition-all duration-300 lg:rounded-b-xl lg:border-l lg:border-r"
  >
    <a
      href="/"
      class="group relative z-30 flex items-center space-x-1.5 text-base font-semibold uppercase text-white"
    >
      {nickname}
    </a>
    <nav
      class="relative z-30 flex w-full flex-row-reverse justify-start text-sm text-neutral-400 sm:flex-row sm:justify-end"
    >
      <MobileMenu client:load>
        {
          path.map((link) => (
            <a
              href={link.url}
              class="relative flex w-full items-center justify-center px-4 py-2 text-center font-medium tracking-wide duration-200 ease-out hover:text-white sm:w-auto sm:py-0"
            >
              {link.name}
            </a>
          ))
        }
      </MobileMenu>
      <div class="hidden sm:flex">
        {
          path.map((link) => (
            <a
              href={link.url}
              class="relative flex w-full items-center justify-center px-4 py-2 text-center font-medium tracking-wide duration-200 ease-out hover:text-white sm:w-auto sm:py-0"
            >
              {link.name}
            </a>
          ))
        }
      </div>
    </nav>
  </div>
</header>
